.backgroundColor{
    -fx-background-color: linear-gradient(to bottom,#7f8c8d,#bdc3c7);
}
.jfx-date-picker > .jfx-text-field {
    -jfx-label-float: true;
}

.dbBackgroundColor{
    -fx-background-color: linear-gradient(to left,#ffffff,#f1f2f6);
}

.focus-color{
    -fx-focus-color: linear-gradient(to left,#D980FA,#9980FA);
}

.db-card-radius{
    -fx-background-radius: 10 0 0 10;
}
.db-card-btn-radius{
    -fx-background-radius: 0 10 10 0;
}